$primary-color: #5932EA;
$gray-light: #f8f9fa;
$gray-medium: #e0e0e0;
$gray-dark: #333;
$gray-lighter: #fff;
$gray-darker: #838383;
$green: #28bf4b;
$red: #DF0404;
$green-light: #d4edda;
$red-light: #f8d7da;
$gray-subtle: #9197B3;
$gray-subtle-light: #888;
$teal: #16C098;